{{ define "main" }}

<br>
<p>
I’m an IT student. Right now I’m really interested in GNU/Linux and software for it. I really like programming and would like to continue my career in this field. More in <a href="about" title="about">about</a>.
</p>

<h2>Latest <a href="/posts">posts</a></h2>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan 2 2006" }}</div>
                <p><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></p>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h2>Latest <a href="/projects">projects</a></h2>

<div class="image-grid">
{{ with .Site.GetPage "/projects" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $thumb := .Resize "1000x" }}
                <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
            {{end}}

            <div style="text-align: center;">
                {{ .Title }}
            </div>
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}
